MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/hud?retryWrites=true&w=majority
JWT_SECRET=generate_with_openssl_rand_hex_32
# Generate hash: node -e "require('bcrypt').hash('yourpassword',10).then(console.log)"
ADMIN_PASSWORD_HASH=$2b$10$...
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
PORT=3001
CLIENT_URL=https://hud-murex.vercel.app
