.nav {
  display: flex;
  background: var(--bg2);
  border-top: 1px solid var(--border);
  position: sticky;
  bottom: 0;
  z-index: 50;
  padding-bottom: env(safe-area-inset-bottom);
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 8px;
  color: var(--text3);
  transition: color 0.15s;
}

.item:hover { color: var(--text2); }

.active {
  color: var(--accent) !important;
}
.active svg{
  stroke: var(--accent);
}

.icon {
  width: 26px;
  height: 26px;
  display: block;
  flex-shrink: 0;
}
